/* main.css */

body {
    font-family: Palatino, serif;
    max-width: 850px;
    margin: 0 auto; /* center the page */
}

a {
    text-decoration: none;
    color: firebrick;
}

a:hover, a:focus, a.active {
    text-decoration: underline;
}

header {font-size: 130%;}
header,footer {padding: 0 10px;}

.faded {color: #BBB;}

#container {
    border-style: solid;
    border-color: #BBB;
    border-width: 1px 0;
}

#container > * {
    overflow: auto;  /* maintain columns */
    margin: 40px 40px; /* separate columns */
}

aside {float: left;}

img {
    max-width: 200px;
    border-radius: 10px;
    border: 3px solid #BBB;
}

#papers dt {font-size: 120%;}
#papers dd+dt {padding-top: 1em;}

#papers dd {margin: 0 1em;}
#papers .author .me {font-weight:bold;}

@media only screen and (max-width: 850px) {
    body {max-width: 600px;}
    aside {float: none; text-align: center;}
    #container > * {margin: 10px 10px;}
}
