/* main.css */

body {
    font-family: Palatino, serif;
    max-width: 850px;
    margin: 0 auto; /* center the page */
}

a {
    text-decoration: none;
    color: firebrick;
}

a:hover, a:focus, a.active {
    text-decoration: underline;
}

header {
    font-size: 130%;
}

.faded {
    color: #BBB;
}

#container {
    overflow: auto;  /* maintain columns */
    border-style: solid;
    border-color: #BBB;
    border-width: 1px 0;
}

#container>*{
    margin: 40px 40px; /* separate columns */
}

aside {
    float: left; /* on the left */
}

img {
    max-width: 200px;
    border-radius: 10px;
    border: 3px solid #BBB;
}

section + section {
    padding-top: 1em; /* space out sections */
}

.paper + .paper {
    padding-top: 1em; /* space out papers */
}

.paper .title {font-size: 120%;}

@media only screen and (max-width: 850px) {
    body {max-width: 600px;}
    aside {float: none; text-align: center;}
}
