<dt class="paper-title">
    {% include link.html
        url=paper.link
        text=paper.title
    %}
</dt>

<dd class="paper-authors">
    <ul class="comma-list">
        {% for a_key in paper.authors %}
            {% assign a = site.data.people[a_key] %}

            {%- if a_key == "kelloggm" -%}
                {% assign class = "author me" %}
            {%- else -%}
                {% assign class = "author" %}
            {%- endif -%}

            <li>
                {%- include link.html
                url=a.webpage
                text=a.name
                class=class
                -%}
            </li>
        {% endfor %}
    </ul>
</dd>

{% if paper.venue %}
    <dd class="paper-venue">
        {%- include link.html
            url=paper.venue_url
            text=paper.venue -%},
        {{ paper.date | date: '%B %Y' }}
    </dd>
{% endif %}

{% if paper.extra %}
    <dd> {{ paper.extra | markdownify | remove: "<p>" | remove: "</p>"}} </dd>
{% endif %}

<dd>
    {% if paper.content != "" %}
        [<a href="/martinjkellogg.com/{{ paper.url }}">bibtex</a>]
    {% endif %}
    {% if paper.doi %}
        [<a href="https://doi.org/{{ paper.doi }}">doi</a>]
    {% endif %}
    {% for link in paper.links %}
        [<a href="{{ link.url }}">{{ link.text }}</a>]
    {% endfor %}
</dd>
