<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Martin Kellogg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Martin Kellogg, Assistant Professor at the New Jersey Institute of Technology">
    <meta property="og:title" content="Martin Kellogg" />
    <meta property="og:description" content="Martin Kellogg, Assistant Professor at the New Jersey Institute of Technology" />
    <meta property="og:image" content="/martinjkellogg.com/assets/martin.jpg" />
    <link rel="canonical" href="https://web.njit.edu/martinjkellogg.com/">
    <link rel="stylesheet" href="/martinjkellogg.com/css/main.css">
</head>
<body>
<div id="container">

    <aside>
        <div id="photo" class="screen-only">
            <a href="/martinjkellogg.com/assets/martin.jpg">
                <img alt="Martin Kellogg" title="Martin Kellogg" src="/martinjkellogg.com/assets/martin.jpg">
            </a>
        </div>
        <h1 id="name-header"> <a href="/martinjkellogg.com/"> Martin Kellogg </a> </h1>
	Office: GITC 4314 (<a href="https://calendar.google.com/calendar/u/0?cid=bWprNzZAbmppdC5lZHU">calendar</a>)
        <section id="contact">
            <address>
                <a href="mailto:martin.kellogg@njit.edu">martin.kellogg@njit.edu</a>
            </address>
            <address class="screen-only">
                <a href="https://github.com/kelloggm">GitHub</a>
            </address>
        </section>
    </aside>

    <main>
        {{ content }}
    </main>

</div>

<footer>
    Page last updated on {{ 'now' | date: "%Y-%m-%d" }}
</footer>

</body>
</html>
