<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="topbar">
        <h1>Max Willsey</h1>
        <nav>
            <ul>
                <li>{% include active_link.html link="/" name="About" %}</li>
                <li><a
                        href="https://www.dropbox.com/s/ahapjfm55y20apu/resume.pdf?raw=1">Resume</a></li>
                <li>{% include active_link.html link="/projects" name="Projects" %}</li>
                <li><a href="mailto:&#109;&#119;&#105;&#108;&#108;&#115;&#101;&#121;+&#115;&#105;&#116;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Contact</a></li>
                <!-- <li><a href="/blog">Blog</a></li> -->
            </ul>
        </nav>
        </div><!-- /.header -->
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
        </footer>
    </body>
</html>
