<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Martin Kellogg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Martin Kellogg, PhD Student at the University of Washington">
    <meta property="og:title" content="Martin Kellogg" />
    <meta property="og:description" content="Martin Kellogg, PhD Student at the University of Washington" />
    <meta property="og:image" content="/~kelloggm/assets/martin.jpg" />
    <link rel="canonical" href="https://homes.cs.washington.edu/~kelloggm/">
    <link rel="stylesheet" href="/~kelloggm/css/main.css">
</head>
<body>
<div id="container">

    <aside>
        <div id="photo" class="screen-only">
            <a href="/~kelloggm/">
                <img alt="Martin Kellogg" title="Martin Kellogg" src="/~kelloggm/assets/martin.jpg">
            </a>
        </div>
        <h1 id="name-header"> <a href="/~kelloggm/"> Martin Kellogg </a> </h1>
        <section id="contact">
            <address>
                <a href="mailto:kelloggm@cs.washington.edu">kelloggm@cs.washington.edu</a>
            </address>
            <address class="screen-only">
                <a href="https://github.com/kelloggm">GitHub</a>
            </address>
        </section>
    </aside>

    <main>
        {{ content }}
    </main>

</div>

<footer>
    Page last updated on {{ 'now' | date: "%Y-%m-%d" }}
</footer>

</body>
</html>
